@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    /* scroll-behavior: smooth; */
    margin: 0;
}
body {
    --text: #f4e2e6;
    --background: #1e0a0f;
    --primary: #e08da2;
    --secondary: #8e203c;
    --accent: #de4b70;
}
body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    word-wrap: break-word;
}
#intro, main {
    margin-left: 125px;
    margin-right: 125px;
}
@media (max-width: 1024px) {
    #intro, main {
        margin-left: 75px;
        margin-right: 75px;
    }
}
@media (max-width: 768px) {
    #intro, main {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (max-width: 480px) {
    #intro, main {
        margin-left: 20px;
        margin-right: 20px;
    }
}
#top-nav {
    display: flex;
    width: 450px;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 70%;
}
#img-circle {
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.20) inset;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#top-img {
    width: 27px;
    opacity: 70%;
}
#title-link {
    font-size: 1.25rem;
    font-weight: 450;
    color: var(--text);
    text-decoration: none;
}
#title-link:hover {
    opacity: 80%;
}
#top-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(var(--accent), #ef7493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#titlename {
    text-decoration: none;
}
#top-author {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary);
    text-align: center;
    line-height: 0;
}
#top-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.top-link {
    color: var(--primary);
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}
@media (max-width: 400px) {
    .top-link {
        font-size: 1.125rem;
    }
}
.top-link:hover {
    cursor: pointer;
    opacity: 75%;
}
.text-section {
    padding: 3%;
}
#moment-section {
    display: flex;
}
#meaning-section {
    display: none;
}
#moment-link {
    text-decoration: underline;
}
#meaning-link {
    text-decoration: none;
}
.text-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.paragraph {
    font-size: 1.125rem;
    opacity: 75%;
    line-height: 150%;
    text-indent: 50px;
}
#works-cited {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    opacity: 50%;
}
#cited-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cited-entry {
    justify-content: left;
    align-items: left;
}
.image-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image-1, #image-2, #image-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#image-1 img, #image-2 img {
    width: 40%;
}
.img-caption {
    opacity: 50%;
    text-align: center;
}
#image-3 img {
    width: 83%;
}
@media (max-width: 700px) {
    #image-1, #image-2, #image-3 {
        gap: 15px;
    }
    #image-1 img, #image-2 img {
        width: 45%;
    }
    #image-3 img {
        width: 90%;
    }
}
@media (max-width: 500px) {
    #image-1, #image-2, #image-3 {
        gap: 10px;
    }
    #image-1 img, #image-2 img {
        width: 50%;
    }
    #image-3 img {
        width: 100%;
    }
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.button p {
    color: var(--primary);
    margin: 0;
}
.btn {
    color: var(--text);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.23) inset;
}
.btn:hover {
    background: none;
    cursor: pointer;
}
video, iframe, img {
    border-radius: 18px;
}
video {
    width: 100%;
    height: 100%;
}
.video-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
}
@media (min-width: 1001px) {
    #youtube-box-big {
        display: block;
    }
    #youtube-box-med {
        display: none;
    }
    #youtube-box-small {
        display: none;
    }
}
@media (max-width: 1000px) {
    #youtube-box-big {
        display: none;
    }
    #youtube-box-med {
        display: block;
    }
    #youtube-box-small {
        display: none;
    }
}
@media (max-width: 700px) {
    .video-box {
        width: 90%;
    }
}
@media (max-width: 600px) {
    #youtube-box-big {
        display: none;
    }
    #youtube-box-med {
        display: none;
    }
    #youtube-box-small {
        display: block;
    }
}
@media (max-width: 500px) {
    .video-box {
        width: 100%;
    }
}
footer {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 75%;
}
#footer-name {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}
#footer-name a {
    color: var(--primary);
    text-decoration: none;
}
#footer-name a:hover {
    opacity: 75%;
}
#footer-link {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}
#footer-link a {
    width: 45px;
    translate: 18px 0;
}
#footer-link a:hover {
    opacity: 75%;
}
@media (max-width: 500px) {
    #chapman {
        display: none;
    }
}
#blob-1 {
    height: 30vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -99;
    opacity: 25%;
    transform: translate(-170%, -70%);
    background: linear-gradient(var(--secondary), var(--accent));
}
#blob-2 {
    height: 30vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -99;
    opacity: 25%;
    transform: translate(70%, 10%);
    background: linear-gradient(var(--secondary), var(--accent));
}