@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    --text: #e2eaf0;
    --background: #0d161b;
    --primary: #9bb7cd;
    --secondary: #514b88;
    --accent: #8664b2;    
}
body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    word-wrap: break-word;
}
#top-nav {
    display: flex;
    width: 450px;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 70%;
}
#img-circle {
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.20) inset;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#top-img {
    width: 27px;
    opacity: 70%;
}
#title-link {
    font-size: 1.25rem;
    font-weight: 450;
    color: var(--text);
    text-decoration: none;
}
#title-link:hover {
    opacity: 80%;
}
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#top-title {
    font-size: 4rem;
    font-weight: 650;
    text-align: center;
    background: linear-gradient(var(--accent), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#title-highlight {
    font-size: 4.5rem;
    font-weight: 650;
    font-family: "Rubic", sans-serif;
    color: var(--accent);
    -webkit-text-fill-color: var(--background);
    -webkit-text-stroke: 2.75px var(--accent);
}
#top-author {
    font-size: 2.75rem;
    font-weight: 600;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 0;
}
#class-name {
    font-size: 1.25rem;
    font-weight: 450;
    color: var(--accent);
    text-align: center;
    margin-top: 20px;
    opacity: 80%;
}
@media (max-width: 600px) {
    #top-author {
        font-size: 40px;
    }
    #top-title {
        font-size: 3rem;
    }
    #title-highlight {
        font-size: 3.5rem;
        -webkit-text-stroke: 2px var(--accent);
    }
}
@media (max-width: 510px) {
    #top-nav {
        width: 400px;
        height: 75px;
        gap: 10px;
        overflow: hidden;
    }
    #top-author {
        font-size: 30px;
    }
    #top-title {
        font-size: 2.5rem;
    }
    #title-highlight {
        font-size: 3rem;
        -webkit-text-stroke: 2px var(--accent);
    }
}
@media (max-width: 400px) {
    #top-author {
        font-size: 25px;
    }
    #top-title {
        font-size: 2rem;
    }
}
@media (max-width: 410px) {
    #top-nav {
        width: 300px;
    }
}
.website-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 50px;
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
#table-of-contents {
    background: none;
}
#about {
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.20) inset;
}
.contents-entry {
    font-size: 1.25rem;
    color: var(--text);
    line-height: 1.5;
    opacity: 75%;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}
.table-link:hover {
    opacity: 65%;
}
.table-link {
    text-decoration: none;
}
.section-title {
    font-size: 2.5rem;
    font-weight: 550;
    color: var(--primary);
    text-align: center;
}
.intro-text {
    font-size: 1.25rem;
    color: var(--text);
    line-height: 1.5;
    opacity: 75%;
    margin-right: 25px;
    margin-left: 25px;
    text-indent: 50px;
}
@media (max-width: 1024px) {
    .website-section {
        margin: 20px;
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .website-section {
        margin: 10px;
        padding: 10px;
    }
}
@media (max-width: 1230px) {
    .dots1 {
        display: none;
    }
}
@media (max-width: 1050px) {
    .dots2 {
        display: none;
    }
}
@media (max-width: 926px) {
    .dots3 {
        display: none;
    }
}
footer {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 75%;
}
#footer-name {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}
#footer-name a {
    color: var(--primary);
    text-decoration: none;
}
#footer-name a:hover {
    opacity: 75%;
}
#footer-link {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}
#footer-link a {
    width: 45px;
    translate: 18px 0;
}
#footer-link a:hover {
    opacity: 75%;
}
@media (max-width: 500px) {
    #chapman {
        display: none;
    }
}
#blob-1 {
    height: 30vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -99;
    opacity: 25%;
    transform: translate(-170%, -70%);
    background: linear-gradient(var(--secondary), var(--accent));
}
#blob-2 {
    height: 30vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -99;
    opacity: 25%;
    transform: translate(70%, 10%);
    background: linear-gradient(var(--secondary), var(--accent));
}